body {
    margin: 0;
    padding: 0;
}

* {
    @include box-sizing(border-box);
}

img {
    width: auto;
    max-width: 100%;
    display: block
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}