//colors
$nav-bg: rgba(0,0,0,0.2);
$nav-hover: rgba(255,255,255,0.5);
$nav-color: rgba(0,0,0,0.8);
$logo-color: #2F1107;
$pink: #f200c9;
$about-bg: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.4));
$white: #fff;

//fonts
$default-font: 'Josefin Sans', sans-serif;
$logo-font: 'Dancing Script', cursive;
